<center><div style="font-size: 50px">SQL Guide</div>

**Cast command - CAST(Attribute AS Datatype) to a specific data type. a.k.a. Integer/Float/Datetime/Booleans/Character or String

SELECT is what attributes we are selecting form the data.

EX: Attribute or coloumn name or * for all attributes.

FROM is what table we are pulling this information in its direct path.

Ex: Data_set.Table

WHERE command - its the filtering command for SQL that is generally used across all RDBMS

Ex: Attribute = 'Value' or Genre = 'Comedy'

Full Example of this:
    
Select
    *

FROM 
    movie_data.movies

WHERE
    Genre = 'Comedy'

<center><b><div style="font-size: 40px"> A full example would look like this:</div></b></center>

<img src="Images/SQL_WHERE.png"
     alt="error" 
     style="margin-left: 450px"
     />

<div style="text-align: justify;">
    <div style="display: inline-block; width: 49%; text-align: left; font-size: 20px;"><b>Sorting in SQL is just as easy with the ORDER BY clause! It looks like this:</b></div>
    <div style="display: inline-block; width: 49%; text-align: right; font-size: 20px;"><b>You can even do the reverse order or descending as such:</b></div>
</div>

<br>

<img src="Images/SQL_ORDERBY.png"
     alt="error" align="left" 
     width="400"
     style="margin-left: 150px"/>
<img src="Images/ASEN_DESC.png"
     alt="error" align="right"
     width="400"
     style="margin-right: 75px"/>

<div style="font-size: 20px"><b>You can easily do both Sorting and filtering in the same query like so:</b></div>

<br>

<img src="Images/SQL_ORDER_FILTER.png"
     width="350"
     style="margin-left: 160px"
    />